/* @tailwind base;
@tailwind components;
@tailwind utilities; */

html, 
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: rgb(183,242,255);
  background: linear-gradient(0deg, rgba(183,242,255,1) 0%, rgba(36,149,222,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.blur-txt {
  background-color: rgba(0,0,0,.4);
  border-radius: 5px;
  box-shadow: 0px 0px 17px 10px rgba(0,0,0,.5);
}

.card-list > .card {
  overflow: hidden;
}
.card-list > .card > .card-body {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;  
}

.card-list > .card:hover .card-body {
  transform: scale(1.2);
    
}
.cold {
  color: #064996;
}

.cool {
  color: #176dae;
}

.warm {
  color: #dd6e6e;
}

.hot {
  color: #cc0000;
}

.bg-card-body {
  background-color: rgb(227, 244, 255);
}
.bg-card-header,.bg-card-footer  {
  background-color: #caebff;
}

.loader-div {
  margin-top: -110px;
}